name: Test HashiCorp Packer

on:
  push:
permissions:
  id-token: write
  contents: read 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup packer
        uses: hashicorp/setup-packer@v2.0.0

      - name: Verify installation
        run: packer --version
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ vars.AWS_GITHUB_ROLE_ARN }}
          role-session-name: github_session
          aws-region: il-central-1

      - name: Initialize Packer configuration
        run: packer init tutorial

      - name: Format and validate Packer template
        run: |
          packer fmt tutorial
          packer validate tutorial

      - name: Build Packer image
        run: packer build tutorial/aws-ubuntu.pkr.hcl