name: Test HashiCorp Packer

on:
  push:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup packer
        uses: hashicorp/setup-packer@v2.0.0
        id: setup
    outputs:
      version: ${{ steps.setup.outputs.version }}